body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: aqua;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  height: 90%;
  border-radius: 50%;
  margin-left: 1%;
}
nav a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
footer {
  background-color: aqua;
  height: 10vh;
}
#main-body {
  min-height: 80vh;
  background-color: white;
}
.card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
